// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #2e086a;
$blue: #17308e;
$purple: #89288f;

$sonotas-gradient: linear-gradient(
    90deg,
    rgba($purple, 1) 0%,
    rgba($blue, 1) 100%
);

$navbar-brand-image-height: 3rem;
