// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Tabler
@import "~@tabler/core/src/scss/tabler";

// DataTables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";;

a {
    color: #5714ff;
}

.bg-register-link {
    background-color: #a9a9a93d;
}
.bg-login {
    background-image: url("../images/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
}
.icon-empresas {
    position: absolute;
    right: 4px;
    top: 4px;
}
.min-w {
    min-width: 105px;
}
.icon-eye {
    width: 18px;
    margin-left: 5px;
}
@media (max-width: 768px) {
    .card-body {
        padding: 0.5rem 0.55rem;
    }
}
