// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Tabler
@import "~@tabler/core/src/scss/tabler";

.bg-register-link {
    background-color: #a9a9a93d;
}
.bg-login {
    background-image: url("../images/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
}
.card {
    background: #ffffffe8;
    backdrop-filter: blur(2px);
}
